@font-face {
  font-family: Supply;
  src: url(assets/fonts/PPSupplySans-Regular.otf);
}

@font-face {
  font-family: SupplyMono;
  src: url(assests/fonts/PPSupplyMono-Regular.otf);
}

@font-face {
  font-family: Monogram;
  src: url(assests/fonts/monogram-extended.ttf);
}

body {
    background-color: #EEEEEE;
    font-family: SupplyMono, 'Courier New', Courier, monospace;
    line-height: 1.4;
  }

header {
    font-size: 32px;
    color: #444444;
    padding: 16px 0;
    text-align: center;
  }

#about {
    font-size: 24px;
    color: #444444;
    padding: 16px 0;
    text-align: center;
    padding-left: 512px;
    padding-right: 512px;
  }